@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
